@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:400,700');
@import 'variables';

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.retro {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    margin-top: 54px;

    td, th {
        text-align: center;
        border-bottom: 1px solid #CCC;
        border-right: 1px solid #CCC;
        
        &.highlighted {
            background: rgba(31, 196, 162, .3);
        }
    }

    td {
        &:first-child {
            font-weight: 700;
        }
    }

    

    &__settings {
        background: #141615;
        color: #FFF;
        position: fixed;
        display: flex;
        left: 0;
        top: 0;
        width: 10%;
        min-width: 300px;
        flex-direction: column;
        padding: 30px;
        font-size: 12px;
        transition: all .5s ease-in-out;
        transform: translateX(-100%);
        height: 100%;
        z-index: 19;

        &.open {
            transform: translateX(0);
        }

        h4 {
            margin: 45px 0 15px 0;
            font-size: 16px;
            color: #1fc4a2;

            &:first-child {
                margin-top: 0;
            }
        }

        input, select {
            font-size: 14px;
            line-height: 18px;
            padding: 4px 10px;
            box-sizing: border-box;
        }

        &__entities {
            display: flex;
            margin: 5px 0;
            align-items: center;
            height: 30px;

            input, select {
                flex-grow: 1;
                font-size: 12px;
                background: none;
                border: 1px solid #CCC;
                color: #FFF;

                &.hidden {
                    display: none;
                }                
            }

            select {
                padding: 5px 10px;
                cursor: pointer;

                option {
                    color: #141615;
                }
            }

            &__add {
                padding: 6px 15px;
                background: #1fc4a2;
                color: #141615;
                cursor: pointer;
                display: inline;
                font-weight: 700;
                text-transform: uppercase;
                width: 25%;
                text-align: center;
                margin-top: 10px;
            }

            span.btn {
                height: 20px;
                width: 20px;
                text-align: center;
                background: #FC5255;
                border-radius: 50%;
                cursor: pointer;

                i.fas {
                    font-size: 12px;
                    line-height: 20px;
                }
            }

            &__option {
                width: 40%;
                margin: 0;
            }

            &__value {
                margin: 0 15px;
                font-weight: 700;
            }
        }

        &__grid {
            display: flex;
            align-items: center;
            margin: 8px 0;

            &__option {
                width: 40%;
                margin: 0;
            }

            &__value {
                margin: 0 15px;
                font-weight: 700;
            }

            span.btn {
                height: 20px;
                width: 20px;
                text-align: center;
                background: #FC5255;
                border-radius: 50%;
                cursor: pointer;

                i.fas {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }

        &__toggle {
            height: 42px;
            width: 42px;
            text-align: center;
            font-size: 14px;
            position: absolute;
            top: 0;
            right: -42px;
            background: #141615;
            color: #1fc4a2;
            border: 0;
            cursor: pointer;

            i.fas {
                line-height: 42px;
            }
        }
    }
}

@import 'entity/main';
// @import 'grid/main';