
.retro__entity {
        padding: 5px;
        box-sizing: border-box;
        position: absolute;

        &.moving {
            img {
                opacity: 0.6;
            }
        }

        &.selected {
            .retro__entity__edit {
                display: flex;
            }

            .retro__entity__area {
                display: block;
            }
        }

        &__health {
            height: 10%;
            position: absolute;
            top: 0;
            left: 0;
        }

        &__name {
            font-family: 'Open Sans Condensed', sans-serif;
            position: absolute;
            bottom: 0;
            text-align: center;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 700;
            left: 0;
            width: 100%;
        }

        &__edit {
            position: absolute;
            left: 100%;
            top: 50%;
            display: none;
            background: #e0e0e0;
            border: 1px solid #CCC;
            flex-direction: column;
            padding: 6px;
            transform: translateX(8px) translateY(-50%);
            z-index: 9;
            
            .btn {
                border: none;
                background: none;
                cursor: pointer;
                padding: 3px;
                margin-bottom: 10px;

                img {
                    height: 18px;
                    width: 18px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__image {
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
            z-index: 9;

            img {
                position: absolute;
                width: auto;
                height: calc(80% - 14px);
                display: block;
                top: 15%;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &__area {
            position: absolute;
            z-index: -1;
            height: 0;
            width: 0;
            display: none;

            &--move {
                border: 3px rgba(31, 196, 162, .3) dashed;
                background: rgba(31, 196, 162, .1);
            }

            &--action {
                border: 3px rgba(252, 82, 85, .3) dashed;
                background: rgba(252, 82, 85, .1);
            }
        }
    }

    