// &__grid {
//     display: flex;
//     align-items: center;
//     margin: 8px 0;

//     &__option {
//         width: 40%;
//         margin: 0;
//     }

//     &__value {
//         margin: 0 15px;
//         font-weight: 700;
//     }

//     span.btn {
//         height: 20px;
//         width: 20px;
//         text-align: center;
//         background: #FC5255;
//         border-radius: 50%;
//         cursor: pointer;

//         i.fas {
//             font-size: 12px;
//             line-height: 20px;
//         }
//     }
// }

.retro__grid {
    &__heading {
        display: flex;
        padding: 0;
        margin: 0;
        top: 0;
        list-style: none;
        position: fixed;

        &--rows {
            flex-direction: column;
            padding-top: $button-standard-size;
        }

        &--cols {
            padding-left: $button-standard-size;
        }

        li {

        }
    }
}